#reg_form {
  border-radius: 5px;
  background-color: #DDDDDD;
  padding: 20px;
}
body{
	background-color: #659DBD !important;
}

h1{
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 30px;
}

/* styling for login page */

#form-container{
	background-color: #f5f8fa;
	margin-top: 150px;
	border: 1px solid black;
	padding: 50px 60px;
	box-shadow: 1px 4px 33px 10px rgba(0,0,0,0.75);
}